* {
    box-sizing: border-box;
}
body {
    background-color: rgb(121, 121, 121);
    font-family: Arial;
}

aside li {
    padding: 10px 0;
}
aside li:hover {
    cursor: pointer;
    background-color: #5e616a;
}
h2 {
    margin: 0;
}

.main header img:last-child {
    width: 24px;
    margin-top: 8px;
}

#chat li {
    padding: 10px 30px;
}
#chat h2 {
    display: inline-block;
    font-size: 13px;
    font-weight: normal;
}

.entete {
    margin-bottom: 5px;
}
.message {
    min-width: 70px;
    padding: 20px;
    color: #fff;
    line-height: 25px;
    max-width: 90%;
    display: inline-block;
    text-align: left;
    border-radius: 5px;
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 10px 10px 10px;
}

.photo {
    width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid black;
}
